@font-face {
  font-family: headerFont;
  src: url("../fonts/04b.ttf") format("truetype");
}

@font-face {
  font-family: bodyFont;
  src: url("../fonts/MonomaniacOne-Regular.ttf") format("truetype");
}

:root {
  --section-padding: 1rem;
  --headerFont: "headerFont", monospace;
  --bodyFont: "bodyFont", monospace;
  --bodyFontSize: 1.6em;
  --headerFontSize: 2em;
  --loadingFontSize: 1.5em;
  /* kleurencode van figma */
  --headerShadow: 0 0 17.622px #06f, 0 5px 8.811px #06f;
  --textShadow: 0 5px 8.811px #ff00e5;
  --textColor: rgb(255, 255, 255);
  scroll-behavior: smooth;
}

/* https://github.com/jensimmons/cssremedy/blob/master/css/remedy.css */
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
  background: hsla(276, 86%, 51%, 1);

  background:
    linear-gradient(
      90deg,
      hsla(276, 86%, 51%, 0.5) 0%,
      hsla(287, 92%, 58%, 0.5) 21%,
      hsla(305, 72%, 42%, 0.5) 43%,
      hsla(295, 62%, 42%, 0.5) 71%,
      hsla(289, 100%, 59%, 0.5) 99%
    ),
    url(../images/bg.png);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  background-attachment: fixed;
  background-size: 40em auto;

  @media (width > 40em) {
    background-size: cover;
  }
}

h2 {
  color: var(--textColor);
}

/* hulp van Sanne */
aside {
  pointer-events: none;
  position: fixed;
  background-image: url(../images/loadingscreen.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  animation-name: disappearScreen;
  animation-duration: 2.5s;
  /* animation-duration: 0.1s; */
  animation-delay: 2.3s;
  /* animation-duration: 0.1s;
  animation-delay: 0.1s; */
  animation-fill-mode: forwards;

  display: grid;
  h2 {
    font-size: var(--loadingFontSize);
    place-self: end center;
    font-family: var(--headerFont);
    text-shadow: var(--headerShadow);
  }
}

@keyframes disappearScreen {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/* code/hulp van Jelle */
progress[value] {
  place-self: start center;
  -webkit-appearance: none;
  appearance: none;
  width: 50%;
  height: 1em;
}

progress[value]::-moz-progress-bar {
  border: none;
  border-radius: 2px;
}

progress[value]::-webkit-progress-value {
  background: linear-gradient(
    135deg,
    hsla(302, 87%, 80%, 1) 1%,
    hsla(306, 88%, 64%, 1) 33%,
    hsla(302, 96%, 59%, 1) 63%,
    hsla(289, 82%, 46%, 1) 100%
  );

  border-radius: 2px;
}

progress[value]::-webkit-progress-bar {
  background: #000000;
  border-radius: 2px;
}

section {
  padding: var(--section-padding);
  height: 100vh;
  display: grid;
  align-items: center;
}

.levelBox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: var(--div-padding);
  /* border: solid 0.2cm rgb(255, 255, 255);
  border-radius: 10%; */
}

.levelTitle {
  display: flex;
  justify-content: center;
  grid-column: span 2;
  font-family: var(--headerFont);
  font-size: var(--headerFontSize);
  color: rgb(255, 255, 255);
  text-shadow: var(--headerShadow);
  animation: scaleUp 1.5s linear infinite;
}

@keyframes scaleUp {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.07);
  }
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/Guides/Animations/Using */
/* https://stackoverflow.com/questions/35990445/how-to-move-a-div-up-and-down-infinitely-in-css3 */
.levelImg {
  border-radius: 50%;
  width: 15vw;
  animation: bounce 1.5s linear infinite;
  /* animation-direction: alternate; */
  filter: drop-shadow(0 10px 30px #ff00e5);
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

.levelImg:hover {
  transform: scale(1.3);
}

.levelBox ul {
  display: grid;
  /* Hulp van Cyd */
  grid-template-columns: subgrid;
  grid-column: span 2;
  padding: 0;
  list-style-type: none;

  li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-size: var(--bodyFontSize);
    font-family: var(--bodyFont);
    text-shadow: var(--textShadow);
    animation: bounce 1.5s linear infinite;
    color: var(--textColor);
  }
  a {
    text-decoration: none;
  }
}

section h2 {
  font-family: var(--headerFont);
  font-size: var(--headerFontSize);
  text-shadow: var(--headerShadow);
  display: flex;
  justify-content: center;
}

.wave span {
  animation: wave 2s ease-in-out infinite;
}

.wave span:nth-child(1) {
  animation-delay: 0s;
}
.wave span:nth-child(2) {
  animation-delay: 0.2s;
}
.wave span:nth-child(3) {
  animation-delay: 0.4s;
}
.wave span:nth-child(4) {
  animation-delay: 0.6s;
}
.wave span:nth-child(5) {
  animation-delay: 0.8s;
}
.wave span:nth-child(6) {
  animation-delay: 1s;
}

@keyframes wave {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
}

.glow {
  animation: glow ease-in-out;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes glow {
  0% {
    transform: scale(1);
    text-shadow:
      0 0 5px #7c74ea,
      0 0 10px #6338f0,
      0 0 20px #4c32f0,
      0 0 40px #5d18f2,
      0 0 80px #6212f8;
  }
  100% {
    transform: scale(1.02);
    text-shadow:
      0 0 10px #c707ed,
      0 0 20px #b706da,
      0 0 40px #8d02a8,
      0 0 80px #8801a3,
      0 0 160px #8f00ab;
  }
}

/* https://prismic.io/blog/css-text-animations */
