@font-face {
  font-family: headerFont;
  src: url("../fonts/04b.ttf") format("ttf");
}

@font-face {
  font-family: bodyFont;
  src: url("../fonts/MonomaniacOne-Regular.ttf") format("ttf");
}

/* https://github.com/jensimmons/cssremedy/blob/master/css/remedy.css */
*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  --section-padding: 1rem;
  --div-padding: 1rem;
  --bodyFont: bodyFont;
  --headerFont: headerFont;
}

body {
  margin: 0;
  font-family: var(--bodyFont);
}

section {
  padding: var(--section-padding);
}

.levelBox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: var(--div-padding);
  border: solid 0.1cm black;
  border-style: ridge;
  border-radius: 10%;
}

.levelTitle {
  display: flex;
  justify-content: center;
  grid-column: span 2;
}

.levelImg {
  border: 1px solid black;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  width: 20vw;
}

.levelBox ul {
  display: grid;
  /* Hulp van Cyd */
  grid-template-columns: subgrid;
  grid-column: span 2;
  padding: 0;
  list-style-type: none;
  li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
}
