@font-face {
  font-family: headerFont;
  src: url("../fonts/04b.ttf") format("truetype");
}

@font-face {
  font-family: bodyFont;
  src: url("../fonts/MonomaniacOne-Regular.ttf") format("truetype");
}

/* ====================== */
/* CSS Vars */
/* ====================== */

html {
  scroll-snap-type: y proximity;
  --theme: light;
  scroll-behavior: smooth;
  --sectionPadding: 1rem;
  --headerFont: "headerFont", monospace;
  --bodyFont: "bodyFont", monospace;
  --bodyFontSize: 1.6em;
  --headerFontSize: clamp(2em, 10vw, 3.5em);
  --loadingFontSize: 1.5em;
  /* kleurencode van figma */
  --headerShadow: 0 0 17.622px #06f, 0 5px 8.811px #06f;
  --textShadow: 0 5px 8.811px #ff00e5;
  --bodyShadow: 0 5px 20px #ffffff;
  --imgShadow: drop-shadow(0 10px 30px #470f42);
  --textColor: white;

  --bgImage: url(../images/bg.png);
}

/* https://github.com/jensimmons/cssremedy/blob/master/css/remedy.css */

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
  color: var(--textColor);

  background: var(--bg), var(--bgImage);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  background-attachment: fixed;
  background-size: 40em auto;

  @media (width > 40em) {
    background-size: cover;
  }
}

/* ====================== */
/* dark mode switch styling */
/* ====================== */

label {
  font-family: var(--bodyFont);
}

html {
  @media (prefers-color-scheme: dark) {
    --theme: dark;
    --textColor: rgb(255, 255, 255);
    --imgShadow: drop-shadow(0 10px 30px #ffffff);
  }
}

/* hulp van Sanne */
html:has([value="light"]:checked) {
  accent-color: rgb(206, 37, 192);
  --theme: light;
  --imgShadow: drop-shadow(0 10px 30px hsla(248, 74%, 52%, 1));
}

html:has([value="dark"]:checked) {
  --theme: dark;
  accent-color: rgb(27, 27, 27);
}

@container style(--theme:light) {
  body {
    --bg: linear-gradient(
      90deg,
      hsla(276, 86%, 51%, 0.5) 0%,
      hsla(287, 92%, 58%, 0.5) 21%,
      hsla(305, 72%, 42%, 0.5) 43%,
      hsla(295, 62%, 42%, 0.5) 71%,
      hsla(289, 100%, 59%, 0.5) 99%
    );
  }
}

@container style(--theme:dark) {
  body {
    --bg: linear-gradient(
      90deg,
      hsla(248, 74%, 32%, 0.5) 0%,
      hsla(252, 74%, 52%, 0.5) 20%,
      hsla(263, 75%, 33%, 0.5) 43%,
      hsla(263, 78%, 25%, 0.5) 69%,
      hsla(273, 58%, 26%, 0.5) 97%
    );
  }
}

.modeSwitcher {
  display: flex;
  justify-content: center;
  gap: 1em;
  align-items: center;
}

/* ====================== */
/* Loading screen styling */
/* ====================== */
/* hulp van Sanne */
aside {
  pointer-events: none;
  position: fixed;
  background-image: url(../images/loadingscreen.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  animation-name: disappearScreen;
  /* animation-duration: 2.5s;
  animation-delay: 2.3s; */
  animation-duration: 0.1s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;

  display: grid;
  h2 {
    font-size: var(--loadingFontSize);
    place-self: end center;
    font-family: var(--headerFont);
    text-shadow: var(--headerShadow);
  }
}

@keyframes disappearScreen {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/* code/hulp van Jelle */
progress[value] {
  place-self: start center;
  -webkit-appearance: none;
  appearance: none;
  width: 50%;
  height: 1em;
}

progress[value]::-moz-progress-bar {
  border: none;
  border-radius: 2px;
}

progress[value]::-webkit-progress-value {
  background: linear-gradient(
    135deg,
    hsla(302, 87%, 80%, 1) 1%,
    hsla(306, 88%, 64%, 1) 33%,
    hsla(302, 96%, 59%, 1) 63%,
    hsla(289, 82%, 46%, 1) 100%
  );

  border-radius: 2px;
}

progress[value]::-webkit-progress-bar {
  background: #000000;
  border-radius: 2px;
}

section {
  padding: var(--sectionPadding);
  height: 100vh;
  display: grid;
  align-items: center;
}

/* ====================== */
/*    Intro styling 
/* ====================== */

.levelBox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: var(--div-padding);
}

.levelTitle {
  display: flex;
  justify-content: center;
  grid-column: span 2;
  font-family: var(--headerFont);
  font-size: var(--headerFontSize);
  text-shadow: var(--headerShadow);
  animation: scaleUp 1.5s linear infinite;
}

@keyframes scaleUp {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.07);
  }
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/Guides/Animations/Using */
/* https://stackoverflow.com/questions/35990445/how-to-move-a-div-up-and-down-infinitely-in-css3 */
.levelImg {
  width: clamp(15vw, 5vw, 25vw);
  animation: bounce 1.5s linear infinite;
  filter: var(--imgShadow);
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

.levelImg:hover {
  transform: scale(1.3);
}

.levelBox ul {
  display: grid;
  /* Hulp van Cyd */
  grid-template-columns: subgrid;
  grid-column: span 2;
  padding: 0;
  list-style-type: none;

  li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-size: var(--bodyFontSize);
    font-family: var(--bodyFont);
    text-shadow: var(--textShadow);
    animation: bounce 1.5s linear infinite;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
}

section h2 {
  font-family: var(--headerFont);
  font-size: var(--headerFontSize);
  text-shadow: var(--headerShadow);
  display: flex;
  justify-content: center;
  text-align: center;
}

/* ====================== */
/* Wave animation styling */
/* ====================== */

.wave {
  padding: 3rem;
}

.wave span {
  animation: wave 2s ease-in-out infinite;
}

.wave span:nth-child(1) {
  animation-delay: 0s;
}
.wave span:nth-child(2) {
  animation-delay: 0.2s;
}
.wave span:nth-child(3) {
  animation-delay: 0.4s;
}
.wave span:nth-child(4) {
  animation-delay: 0.6s;
}
.wave span:nth-child(5) {
  animation-delay: 0.8s;
}
.wave span:nth-child(6) {
  animation-delay: 1s;
}

@keyframes wave {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
}

/* ====================== */
/* Over mij styling */
/* ====================== */

p {
  font-family: var(--bodyFont);
  text-shadow: var(--bodyShadow);
  font-size: var(--bodyFontSize);
}

.row {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

#overMij {
  align-content: start;
}

#overMij p {
  font-size: 1.7em;
}

/* hulp van Cyd */
.movingBox {
  --duplicates: 3;
  width: 100%;
  overflow: hidden;
  margin-bottom: 5rem;
}

.movingText {
  width: max-content;
  display: inline-flex;
  animation-name: movingWords;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.movingBox:nth-of-type(2) .movingText,
.movingBox:nth-of-type(4) .movingText {
  animation-name: movingWords2;
  animation-duration: 3s;
}

.movingBox:nth-of-type(4) {
  --duplicates: 2;
}

.text,
.text2,
.text3,
.text4 {
  display: flex;
  gap: 0.5rem;
  margin: 0 0.5rem;
}

@keyframes movingWords {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% / var(--duplicates)));
  }
}

@keyframes movingWords2 {
  from {
    transform: translateX(calc(-100% / var(--duplicates)));
  }
  to {
    transform: translateX(0);
  }
}

/* ====================== */
/* Leerdoelen styling */
/* ====================== */

.instructieGrid {
  display: grid;
}

.glow {
  animation: glow ease-in-out;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes glow {
  0% {
    transform: scale(1);
    text-shadow:
      0 0 5px #7c74ea,
      0 0 10px #6338f0,
      0 0 20px #4c32f0,
      0 0 40px #5d18f2,
      0 0 80px #6212f8;
  }
  100% {
    transform: scale(1.04);
    text-shadow:
      0 0 10px #c707ed,
      0 0 20px #b706da,
      0 0 40px #8d02a8,
      0 0 80px #8801a3,
      0 0 160px #8f00ab;
  }
}

/* https://prismic.io/blog/css-text-animations */

/* ====================== */
/* Leerdoelenspel styling */
/* ====================== */

button {
  background: none;
  border: none;
  background-color: transparent;
}

#leerdoelTargets {
  opacity: 0;
  flex-direction: column;
  list-style-type: none;
  gap: 1rem;
}

.instructie {
  text-align: center;
  margin-top: -1em;
}

.canvas {
  scroll-snap-align: center;
  width: 80vw;
  height: 80vh;
  margin: auto;
  display: flex;
  position: relative; /* stukje bij absolute */
}

.bullseye {
  width: 15vw;
}

.leerdoelAnimation {
  animation-name: --leerdoelenbuttons;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

#leerdoelen:has(:popover-open) li > button {
  opacity: 0;
}

html:has(:popover-open) {
  overflow: hidden;
}

:popover-open {
  color: white;
  background-color: hsla(288, 71%, 48%, 0.695);
  background-image: var(--bgImage);
  background-size: cover;
  background-position: bottom;
  border: none;
  border-radius: 1em;
  width: 95%;
  height: 30%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

:popover-open h2 {
  font-size: 1.3em;
}

:popover-open p {
  font-size: 1.2em;
  text-shadow: none;
  margin: 0 0.3em 0.3em;
}

:popover-open p:nth-of-type(2) {
  font-size: 1em;
  color: rgb(131, 131, 131);
  text-shadow: none;
  margin-top: 0.5em;
}

/* :popover-open .close-button {
  display: flex;
  justify-content: left;
  width: fit-content;
} */

/* :popover-open button img {
  height: 2.5em;
} */

@keyframes --leerdoelenbuttons {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* ====================== */
/*    Gamelist styling    */
/* ====================== */

.games {
  padding: 0;
  display: grid;
  place-items: center center;
  gap: 2em;
}

.games p {
  margin: 0;
}

.games li {
  gap: 0.5em;
  width: fit-content;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style-type: none;
  align-items: center;
}

.games img {
  width: 40vw;
  height: 30vh;
  object-fit: cover;
}
